[submodule "free5gc-compose"]
	path = free5gc-compose
	url = https://github.com/Ray259/free5gc-compose
[submodule "UERANSIM"]
	path = UERANSIM
	url = https://github.com/aligungr/UERANSIM
[submodule "gtp5g"]
	path = gtp5g
	url = https://github.com/free5gc/gtp5g.git
